@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication10.Models.Transact
<div class="form-group row">
    <div class="col-4"><label asp-for="trans_to"></label></div>
    <div class="col-8"><input asp-for="trans_to" class="form-control" /></div>

</div>

