@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model WebApplication10.Models.Account

                    <form method="post" asp-action="Create">
                        <div class="border p-3">
                         
                            <div class="form-group row">
                                <h2 class="text-info pl-3">Add Catagory</h2>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group row">

                                        <div class="form-group row">
                                            <div class="col-4"><label asp-for="Id"></label></div>
                                            @{ var userval = TempData["user_id"];}
                                            <div class="col-8"><input asp-for="Id" value="@userval" class="form-control" /></div>

                                        </div>
                                       

                                        <div class="form-group row">
                                            @{ var acc = TempData["acc"];}
                                            @{int c = Convert.ToInt32(acc);}
                                            <div class="col-4"><label asp-for="balance"></label></div>
                                            <div class="col-8"> <input asp-for="balance" value="@c" hidden class="form-control" /> </div>

                                        </div>
                                        <div class="form-group row">
                                            <div class="col-8 offset-4 row">
                                                <div class="col"><input type="submit" class="btn btn-info w-100" value="Create" /></div>
                                                <div class="col"><a asp-action="Index" class="btn btn-success w-100">Back</a></div>
                                            </div>

                                        </div> @ViewBag.userid




                                    </div>
                                    <div class="col-4"> </div>
                                </div>
                            </div>
</form>



